.portrait{
  height: 100vh;
  .content-portrait {
    padding-top: 200px;
  }
  .btn-retour{
    background: none;
    border: none;
    text-decoration: none;
    color: black;
  }
  .social-media {
    padding-bottom: 100px;
    margin-left: 50px;
  }
}
