.container {
  font-size: 1.125rem;
}

.hero {
  max-width: 800px;

  .title-projet {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .picture-projet {
    margin-bottom: 50px;
  }

  .description-projet {
    margin-bottom: 50px;
  }

}

.citation {
  max-width: 800px;

  .title-citation {
    margin-bottom: 50px;
  }

  .description-citation {
    margin-bottom: 50px;
  }

  .citation-text {
    margin-bottom: 100px;
  }
}
