.projets{
  padding-top: 200px;
  padding-bottom: 100px;
  .container-projet{
    max-width: 900px;
    .titre-projets{
      margin-bottom: 25px;
    }
    .contenu-projets{
      margin-bottom: 50px;
    }
  }
}

.container-article {
  max-width: 900px;
}